 <div class="card-trip">
  <%= cl_image_tag artwork.photo%>
  <div class="card-trip-infos">
    <div>
      <h3><%= artwork.title %></h3>
      <p><%= artwork.artists.name %></p>
    </div>
  </div>
</div>
