 <div class="card">
  <%= image_tag artwork.photo%>
  <div class="card-trip-infos">
    <div>
      <p><strong><%= artwork.title.capitalize %></strong></p>
      <p> <%= artwork.artist.name.capitalize %></p>
    </div>
  </div>
</div>
