 <div class="card">
  <%= image_tag artwork.photo%>
  <div class="card-trip-infos">
    <div>
      <h3><%= artwork.title.capitalize %></h3>
      <p><%= artwork.artist.name.capitalize %></p>
    </div>
  </div>
</div>
