<div class="map-box">
  <% viewing_location.artworks.each do |artwork| %>
  <ul class="list-group">
    <li class="list-unstyled">
      <%= link_to artwork.title, artwork_path(artwork) %>
    </li>
  </ul>
  <% end %>
</div>
