<div class="map-box">
  <%= link_to viewing_location.name, viewing_location_path(viewing_location)%>
  <div class="artworks-preview">
    <% viewing_location.artworks[0..2].each do |artwork| %>
      <%= cl_image_tag artwork.photo, class: "artwork-preview" %>
    <% end %>
  </div>
</div>
