<div class="container">
  <div class="cards">
      <% @artworks.each do |art| %>
        <%= link_to artwork_path(art) do %>
          <%= render 'artworks/artwork', artwork: art %>
        <% end %>
      <% end %>
  </div>
</div>
