<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505480449763-8f5c78af9caa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);">
  <div class="container">
    <h1><strong>Artbeat</strong></h1>
    <h3>Discover the world of art</h3>
  </div>
</div>

