<%= image_tag @artwork.photo, alt: "#" %>
<div class="container">
  <div class="details-head">
    <div class="headings">
      <div class="art-title"><%= @artwork.title %></div>
      <div class="artist-name"><%= @artwork.artist.name %></div>
    </div>
    <div class="fave-save">
      <div><i class="far fa-heart"></i></div>
      <div><i class="far fa-bookmark"></i></div>
    </div>
  </div>
  <div class="details-body">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum debitis illum omnis amet nesciunt, voluptatem rerum quae dolorem vel, quas alias ullam ab id tempore.</p>
  </div>

</div>
