.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F85961;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #6e6e6e;
  color: white;
  text-decoration: none;
}
