.cards {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin-top: 15px;
  grid-gap: 15px;
}

.card {
  border: none;
  display: inline-block;
  column-break-inside: avoid;
  margin: 15px 0px 0px 0px !important;
  p {
    margin: 0px;
  }
}

.card img {
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.card-trip {
  overflow: hidden;
  background: white;
  width: 100%;
  border-radius: 4px;
  margin: none;
}

.card-trip > img {
  // height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 0px;
}

.card-trip p {
  font-size: 12px;
  opacity: .5;
  margin: 0;
}

.card-trip .card-trip-infos {
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos h3, p {
  color: #6e6e6e;
  margin: none;
}

.cards a {
  text-decoration: none !important;
  color: black;
}

.card-columns {
  column-count: 2;

}

.artwork_title {
  color:black;
}
