img {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 15px;
}

.details-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headings {
  flex-grow: 1;
  position: left;
}

.art-title {
  font-size: 28px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 4px;
}

.artist-name {
  font-size: 21px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.fave-save {
  display: flex;
  justify-content: space-between;
  width: 30px;
  flex-shrink: 0;
}

.fave-save-icon i {
  font-size: 28px;
}

.description {
  text-align: justify;
  font-size: 1em;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
}

.navbar-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.artwork-thumbnail {
  height: 80px;
  width: auto;
  overflow: hidden;
  text-align: center;
  top: 50%;
  img {
    height: 80px;
    width: auto;
    margin: 0px 8px;
  }
}

.other-art-by-artist {
  display: flex;
  justify-content: flex-start;
  margin: 12px -8px;
}
