img {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 15px;
}

.details-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headings {
  flex-grow: 1;
  position: left;
}

.art-title {
  font-size: 28px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.artist-name {
  font-size: 21px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.fave-save {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  width: 60px;
}

.description {
  text-align: justify;
  font-size: 1em;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.navbar-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
