.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.artworks-preview {
  display: flex;
  justify-content: flex-start;
  margin: 12px 0px;
}

.artwork-preview {
  height: 40px;
  width: auto;
  overflow: hidden;
  text-align: center;
  top: 50%;
  margin: 0px 4px;
  img {
    height: auto;
    width: 40px;
  }
}
