.navbar {
  padding: 0px;
  z-index: 2;
}

.navbar-light .navbar-toggler {
  padding:4px 8px;
  border-color: rgba(0, 0, 0, 0.0);
  .navbar-toggler-icon {
  }
}

.navbar-icon {
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  .navbar-toggler-icon {
    vertical-align: middle;
    display: inline-block;
  }
}

.logo {
  line-height: 30px;
  margin-right: -22px;
  a {
    font-family: Baskerville !important;
    color: black;
    font-size: 32px !important;
    font-weight: lighter !important;
    text-decoration: none;
    vertical-align: middle;
  }
}

.search-icon {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  margin-right: 8px;
  a {
    color: #777A68;
    display: inline-block;
    vertical-align: middle;
  }
}

.logo img {
  width: 38%;
  vertical-align: middle;
  margin-left: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fas {
  font-size: 18px;
}

.nav-item {
  background-color: white;
}

.nav-link {
    margin-left: 16px;
    margin-bottom: 8px;
}

.avatar.dropdown-toggle {
  margin: 0px 0px 8px 8px;
}

.bg-light {
  background-color: white !important;
}

.nav-item-log-in-out{
  background-color: white !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navbar-content {
  padding: 6px;
  border-bottom-style: solid;
  border-bottom-width: 0.2px;
  border-bottom-color: #e6e6e6;
  line-height: 40px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-back {
  font-size: 28px;
  color: #7F7F7F;
  margin-right: 12px;
  &:focus {
    color: #F95861;
  }
}

.user-content {
  margin-top: 16px;
}
