.active {
  border-bottom: 2px solid #F75961 !important;
}

.open-tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

#content-left {
  display: block;
}

#content-left-artwork {
  //Height of map, DO NOT TOUCH please
  margin-bottom: -100%;
}

#content-right {
  display: none;
}

#content-right-map {
  visibility: hidden;
}

button:focus {
  outline: none;
}

.activity-btn {
  border: none;
  width: 50%;
  background-color: white;
  color: black;
  padding-bottom: 5px;
}

.open-tab-buttons p {
  text-align: center;
  margin-top: 5px;
}
